<ion-header no-border class="max-h-0">
  <ion-toolbar class="pr-10">
    <ion-title slot="start" class="text-gs-primary text-5xl leading-9 mr-64">GLOBAL<br>SOLUTIONS</ion-title>
    <ion-button slot="start" [routerLink]="['/detail']">Something</ion-button>
    <ion-button slot="start" [routerLink]="['/detail']">Posts</ion-button>
    <ion-button slot="start" [routerLink]="['/detail']">About us</ion-button>
    <ion-button slot="end" [routerLink]="['/login']">Login</ion-button>
  </ion-toolbar>
</ion-header>