ion-toolbar {
    --background: rgba(0, 0, 0, 0.6);
  }
@media screen and (max-width: 992px) {
    ion-toolbar {
      display: none;
    }
  }
  @media screen and (max-width: 600px) {
    ion-label {
      display: none;
    }
  }
  

ion-button {
  --background: none;
  --background-activated: none;
  --box-shadow: none;
  text-transform: none;
}

ion-tab-bar {
  --background: none;
  --color: #ffffff;
}

ion-label {
  --color: #ffffff;
  font-size: 18px;
}

ion-tab-bar {
  --background: none;
  --border-radius: 8px;
  --color: #ffffff;
}

ion-tabs{
}