<ion-header no-border class="max-h-0">
  <ion-toolbar class="pr-10">
    <ion-title slot="start" class="text-gs-primary text-5xl leading-9 mr-64" >GLOBAL<br>SOLUTIONS</ion-title>
    <ion-tabs class="-mt-2 align-middle">

      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
          <ion-label>Home</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="tab2">
          <ion-label>Posts</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="tab3">
          <ion-label>About us</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    
      
    </ion-tabs>
    <ion-button class="bg-gs-primary-trans rounded" slot="end"  (click)="login()">Login/Sign up</ion-button>
  </ion-toolbar>
</ion-header>