<p>
  createpost works!
</p>
<ion-grid class="bg-gradient-to-t from-black to-mainBlue">
  <form class="px-7 sm:px-20">
    <ion-grid class="">
      <ion-row class="flex">
        <ion-col>
          <ion-text>
            <ion-title class="p-0">Title</ion-title>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="6" class="">
          <ion-textarea
            formControlName="title"
            expand="block"
            fill="outline"
            class="rounded"
            placeholder="Der skal stå noget her"
          ></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="">
      <ion-row class="flex">
        <ion-col>
          <ion-text>
            <ion-title class="p-0">Description</ion-title>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="pb-5">
        <ion-col size="6" class="">
          <ion-textarea
            formControlName="descr"
            expand="block"
            fill="outline"
            class="bg-mainBlue rounded"
            placeholder="Der skal stå noget her"
          ></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="">
      <ion-row class="flex">
        <ion-col>
          <ion-text>
            <ion-title class="p-0">Image URL</ion-title>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="pb-5">
        <ion-col size="6" class="">
          <ion-textarea
            formControlName="image"
            expand="block"
            fill="outline"
            class="bg-mainBlue rounded"
            placeholder="Der skal stå noget her"
          ></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-grid>