<ion-content [fullscreen]="true">
<!-- Heroheader -->
  <section class="flex h-[738px] max-w-full">
  <img class="absolute -z-10 w-full min-h-50 max-h-[738px] object-none" src="./assets/img/trash-collecting-about.webp" alt="">
  <div class="max-w-screen-2xl lg:py-16 my-auto ml-40">
      <div class="">
          <h1 class=" mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-4xl xl:text-7xl dark:text-white">About us</h1>
      </div>
  </div>
</section>
<!-- Tekst -->
<div class="grid grid-cols-2 mx-40 mt-16">
  <div>Even though the total amount of poor people in the world was reduced from 1.9 billion in 1990 to 734 million in 2015, is 700 million people are fighting every day to get 
    food from the table. They live for less than 1.9 dollars a day. Poverty is a big challenge for the world, hence the poorer a country is, the more children are born. This 
    concerns everyone since the world is getting overpopulated. Another big part of this is that the poorest countries, is also the most vulnerable for things like natural 
    catastrophes.<br><br>
    The impact of the COVID-19 pandemic reversed everything regarding the steady progress of poverty reduction over the past year. Because of this, we all need to act.</div>
  <div>
    <img class="w-[632px]" src="./assets/img/SDG_logo.png" alt="SDG Goals">
  </div>
</div>