<ion-content>

  <ion-grid class="ion-no-padding px-10 lg:px-26 xl:36">
    <!--profile image. profile info and badges-->
    <ion-row  class="mt-10">
      <ion-col size="12" size-lg="4" class="pb-12 lg:pb-0">
        <div class="flex flex-col items-center">
        <img class="profileimg" src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="Hans" srcset="">
        <ion-button class="mt-4">Edit Profile</ion-button>
      </div>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4">
       <div class="flex flex-col items-center lg:items-start py-5">
        <ion-title class="ion-no-padding ">Your Profile</ion-title>
        <ion-card-subtitle>Full Name</ion-card-subtitle>
        <p>Hans Hansen</p>
        <ion-card-subtitle>Email Adress</ion-card-subtitle>
        <p>johndoe@email.com</p>
       </div>
      </ion-col>
       
      <!--Badges-->
      <ion-col size="12" size-md="6" size-lg="4" class="">
        <div class="flex flex-col items-center lg:items-start py-5">
        <ion-title class="ion-no-padding">Badges</ion-title>

        <div class="flex">
          <div class="pt-4 pr-2">
          <img class="badgeimg" src="https://images.unsplash.com/photo-1549849171-09f62448709e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" srcset="">
         </div>
          <div class="flex flex-col items-center">
          <p>Post apprentice</p>
          <ion-card-subtitle>0/22</ion-card-subtitle>
          <ion-progress-bar class="pbar w-36" value="0" ></ion-progress-bar>
        </div>
        <div class="pt-4 pl-2">
          <img class="badgeimg" src="https://images.unsplash.com/photo-1592484939110-1f2ea1820782?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=363&q=80" alt="" srcset="">
         </div>
        </div>

        <div class="flex">
          <div class="pt-4 pr-2">
          <img class="badgeimg" src="https://images.unsplash.com/photo-1549849171-09f62448709e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" srcset="">
         </div>
          <div class="flex flex-col items-center">
          <p>Share bear</p>
          <ion-card-subtitle>0/22</ion-card-subtitle>
          <ion-progress-bar class="pbar w-36" value="0" ></ion-progress-bar>
        </div>
        <div class="pt-4 pl-2">
          <img class="badgeimg" src="https://images.unsplash.com/photo-1592484939110-1f2ea1820782?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=363&q=80" alt="" srcset="">
         </div>
        </div>

        <div class="flex">
          <div class="pt-4 pr-2">
          <img class="badgeimg" src="https://images.unsplash.com/photo-1549849171-09f62448709e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" srcset="">
         </div>
          <div class="flex flex-col items-center">
          <p>Dead star fish</p>
          <ion-card-subtitle>0/22</ion-card-subtitle>
          <ion-progress-bar class="pbar w-36" value="0" ></ion-progress-bar>
        </div>
        <div class="pt-4 pl-2">
          <img class="badgeimg" src="https://images.unsplash.com/photo-1592484939110-1f2ea1820782?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=363&q=80" alt="" srcset="">
         </div>
        </div>
      </div>
      </ion-col>
    </ion-row>

    <div *ngIf="successmsg" class="px-7 mx-20 shadow bg-amber-200 animate-pulse w-80 h-8" type="alert"><h3>{{successmsg}}</h3></div>
  <ion-row class=" md:px-10 lg:px-30 xl:px-40 mt-8">
    <ion-col *ngFor="let post of readData" size="12" sizeMd="6" sizeLg="4">
      <ion-card class="m-4 md:m-8 lg:m-8 shadow-2xl">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-xl="2">
                <img class="" />
              </ion-col>
              <ion-col class="ion-align-self-center" size="10">
                <ion-card-title><span class="text-base lg:text-lg">{{post.title}}</span>

                  <ion-card-subtitle><span>John Doe - </span> <span> 03/03 13:48</span></ion-card-subtitle>

                </ion-card-title>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      
        <ion-accordion-group>
          <ion-accordion>
            <ion-item slot="header">
              <ion-label class="text-2x1 font-semibold">Description</ion-label>
            </ion-item>
  
            <ion-list slot="content">
              <ion-item class="text-base lg:text-lg"> 
                {{post.description}}
              </ion-item>
            </ion-list>S
          </ion-accordion>
        </ion-accordion-group>

        <ion-chip [disabled]="true">{{post.category}}</ion-chip>

      <div class="number-display">
        <button class="px-1" (click)="increment()"> Like </button>
        <ion-icon color="danger" name="heart"></ion-icon>
        {{counter}}
        
      </div>
      

      
    </ion-card>
    <ion-item>
      <ion-button [routerLink]="['/login/update', post.id]" color="primary">update</ion-button>
      <ion-button color="danger" (click)="deleteID(post.id)" >Delete post</ion-button>  
    </ion-item>
    </ion-col>
  </ion-row>
  </ion-grid>

</ion-content>