@media screen and (min-width: 992px) {
    *{
        margin-top: 20px;
    }
}
ion-title{
    font-size: 48px;
}
.profileimg{
    border-radius: 50% !important;
    overflow: hidden;
    width: 300px;   
    height: 300px;
}
.pbar{
    width: 50%;
    align-items: center;
}
.badgeimg{
    border-radius: 50% !important;
    overflow: hidden;
    width: 60px;
    height: 60px;
}

@media only screen and (max-width: 600px) {
    .titlerow {
      padding-bottom: 5rem;
      padding-top: 5rem;
      
    }
    .posttitle{
        font-size: 25px;
    }
    .text-xs{
      font-size: 10px !important;
    }
    .profileimg{
        width: 200px;
        height: 200px;
    }
    ion-title{
        font-size: 30px;
    }
  }
 