<ion-content>
    <section class=" bg-[url('./assets/img/readHeaderImg.jpg')] hero">
      <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
          <div class="mr-auto place-self-center lg:col-span-7">
              <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">Welcome to an
                <span class="text-blue-500">Ocean</span> of ideas
              </h1>
              <p class="max-w-2xl mb-6 font-light text-white lg:mb-8 md:text-lg lg:text-xl">Check out the wonderfull and inovative ideas, of our users</p>
              <ion-button routerLink="createpost" class=" text-base font-medium text-center text-white rounded-lg ">
                  Make a post
                  
              </ion-button>
          </div>
          <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
              <img src="./assets/img/Idea.png" alt="mockup">
          </div>                
      </div>
  </section>






<ion-grid class="mt-28">

<section class="bg-white">
    <div>
        <div class="container mx-auto px-6 py-10">
        <h1 class="text-center text-3xl font-bold capitalize text-black  lg:text-6xl">Our 
          <span class="text-red-800">Users</span> Mind
        </h1>

        <div class="mx-auto mt-6 flex justify-center">
            <span class="inline-block h-1 w-52 rounded-full bg-green-500"></span>
            <span class="mx-1 inline-block h-1 w-3 rounded-full bg-green-500"></span>
            <span class="inline-block h-1 w-1 rounded-full bg-green-500"></span>
        </div>

        <p class="mx-auto mt-6 max-w-3xl text-center font-semibold text-black">
          Have a look at all the wonderfull and helpfull ideas, our users
          come up with everyday. The Ideas can be used by everyone, to benefit
          the way we treat our earth and its inhabitants </p>
        </div>
    </div>
</section> 




  

<ion-row  class="md:px-16 lg:px-52">
  <ion-col *ngFor="let post of readData" size="12" sizeMd="6" size-lg="4">
    <ion-card class="m-4 md:m-8 lg:m-8">
      <ion-card-header>
        <ion-grid>
        <ion-row>
        <ion-col size="12" size-xl="2">
        <img class="" />
        </ion-col>
        <ion-col class="ion-align-self-center" size="10">
        <ion-card-title><span class="text-base lg:text-lg">{{post.title}}</span>
          
          <ion-card-subtitle><span>John Doe - </span>  <span> 03/03 13:48</span></ion-card-subtitle>

          </ion-card-title>
          </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-content class="">
        {{post.description}}
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
</ion-grid>

</ion-content>