
//Header section
.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 55vh;
  width: 100%;
}







// Post section
.frontpageprofileimg{
    border-radius: 50% !important;
    overflow: hidden;
    width: 40px;   
    height: 40px;
}
.tags{
    --box-shadow:none;
}
.posttitle{
    font-size: 75px;
    color: #35A94F;
}
.titlerow {
    padding-bottom: 2rem;
    padding-top: 2rem;
    
  }
@media only screen and (max-width: 600px) {
    .titlerow {
      padding-bottom: 5rem;
      padding-top: 5rem;
      
    }
    .posttitle{
        font-size: 25px;
    }
    .text-xs{
      font-size: 10px !important;
    }
  }
 