  <ion-toolbar class="pr-10 desktopnav">

    <ion-title slot="start" class="text-gs-primary text-5xl leading-9 mr-32"><div><a [routerLink]="['/login']">GLOBAL<br> SOLUTIONS</a></div></ion-title>
    <ion-tabs class="-mt-2 align-middle">
      
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="posts">
          <ion-label>Posts</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="create">
          <ion-label>Create Post</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="favorit">
          <ion-label>Favorites</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    
      
    </ion-tabs>
    <ion-button class="bg-gs-primary-trans rounded" slot="end" (click)="logout()">Sign out</ion-button>
  </ion-toolbar>

<ion-tabs>

  <ion-tab-bar slot="bottom" class="mobilenav">

    <ion-tab-button tab="posts">
      <ion-icon class="" name="home-outline"></ion-icon>
      <ion-label class="">Posts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create">
      <ion-icon class="" name="add-circle-outline"></ion-icon>
      <ion-label class="">Create Post</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorit">
      <ion-icon class="" name="star-outline"></ion-icon>
      <ion-label class="" >Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon class="" name="person-outline"></ion-icon>
      <ion-label class="">Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="logout" (click)="logout()">
      <ion-icon class="" name="log-out-outline"></ion-icon>
      <ion-label class="">Log out</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>