  <ion-toolbar class="pr-10 desktopnav">

    <ion-title slot="start" class="text-gs-primary text-5xl leading-9 mr-64"><div><a [routerLink]="['/login']">GLOBAL<br> SOLUTIONS</a></div></ion-title>
    <ion-tabs class="-mt-2 align-middle">
      
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="posts">
          <ion-label>Posts</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="create">
          <ion-label>Create Post</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="favorite">
          <ion-label>Favorites</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    
      
    </ion-tabs>
    <ion-button class="bg-gs-primary-trans rounded" slot="end" >Sign out</ion-button>
  </ion-toolbar>

<ion-tabs>

  <ion-tab-bar slot="bottom" class="mobilenav">

    <ion-tab-button tab="posts">
      <ion-icon class="text-[#222428]" name="home-outline"></ion-icon>
      <ion-label class="text-[#222428]">Posts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create">
      <ion-icon class="text-[#222428]" name="add-circle-outline"></ion-icon>
      <ion-label class="text-[#222428]">Create Post</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorit">
      <ion-icon class="text-[#222428]" name="star-outline"></ion-icon>
      <ion-label class="text-[#222428]" >Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon class="text-[#222428]" name="person-outline"></ion-icon>
      <ion-label class="text-[#222428]">Profile</ion-label>
    </ion-tab-button>
 
  </ion-tab-bar>

</ion-tabs>