<div class="mx-40">
<ion-card class="mx-140">
  <ion-card-header>
    <ion-card-title style="text-align:center" class="text-gs-primary text-7xl font-bold uppercase">Leaderboard</ion-card-title>
    <ion-card-subtitle style="text-align:center" class="text-3xl text-black">Our top 3 users!</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    
    <ion-grid style="text-align:center">
      <ion-row>
        <ion-col>
          <h1>1</h1>
          <img class="gold" src="../assets/img/person1.png" alt="person1">
          <h1>14</h1>
          <h1>John Doe</h1>
        </ion-col>
        <ion-col>
          <h1>2</h1>
          <img class="silver" src="../assets/img/person1.png" alt="person1">
          <h1>11</h1>
          <h1>John Doe</h1>
        </ion-col>

        <ion-col>
          <h1>3</h1>
          <img class="bronze" src="../assets/img/person1.png" alt="person1">
          <h1>7</h1>
          <h1>John Doe</h1>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card-content>
</ion-card>
</div>