<ion-grid>
  <ion-row>
    <ion-col>
      <ion-title class="ion-text-center posttitle">Ideas & Posts</ion-title>
    </ion-col>
  </ion-row>
   <!--Buttons of UN world goals-->
   <ion-row style="text-align:center" class="ion-justify-content-center ion-align-items-center">
    <ion-col class="ion-align-self-center" >
      <ion-button class="all">ALL</ion-button>
    </ion-col>
      
    <ion-col>
      <ion-button class="lifeonland">LIFE ON LAND</ion-button>
    </ion-col>
      
    <ion-col>
      <ion-button class="lifeinwater">LIFE IN WATER</ion-button>
    </ion-col>
      
    <ion-col>
      <ion-button class="jobandmoney">JOB AND MONEY</ion-button>
    </ion-col>
      
    <ion-col>
      <ion-button class="equality">EQUALITY</ion-button>
    </ion-col>
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b3/Rihanna_Diamonds_World_Tour_2013_%28Cropped%29.png" alt="" srcset="">
  </ion-row>
 <!--first post row-->
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-grid>
          <ion-row>
          <ion-col >
          <img class="frontpageprofileimg" alt="John Doe" src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" />
          </ion-col>
          <ion-col class="ion-align-self-center" size="10">
          <ion-card-title>Eco friendly to the maximum! <ion-card-subtitle><span>John Doe - </span>  <span> 03/03 13:48</span></ion-card-subtitle>
            <ion-button class="tags lifeonland" fill="solid" size="small">LIFE ON LAND</ion-button> <ion-button class="tags lifeinwater" size="small">LIFE IN WATER</ion-button> <ion-button class="tags equality" size="small">EQUALITY</ion-button>
          </ion-card-title>
          </ion-col>
        </ion-row>
        </ion-grid>
        </ion-card-header>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-content class="">
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      
    </ion-col>

    <ion-col>
      
    </ion-col>
  </ion-row>
  <!--second post row-->
  <ion-row>
    <ion-col>

    </ion-col>

    <ion-col>
      
    </ion-col>

    <ion-col>
      
    </ion-col>
  </ion-row>

  <!--third post row-->
  <ion-row>
    <ion-col>

    </ion-col>

    <ion-col>
      
    </ion-col>

    <ion-col>
      
    </ion-col>
  </ion-row>
</ion-grid>