<ion-grid>
  <ion-row>
    <ion-col>
      <ion-title>Ideas & Posts</ion-title>
    </ion-col>
  </ion-row>
   <!--Buttons of UN world goals-->
   <ion-row>
    <ion-col>
      <ion-button>ALL</ion-button>
    </ion-col>
      
    <ion-col>
      <ion-button>LIFE ON LAND</ion-button>
    </ion-col>
      
    <ion-col>
      <ion-button>LIFE IN WATER</ion-button>
    </ion-col>
      
    <ion-col>
      <ion-button>JOB AND MONEY</ion-button>
    </ion-col>
      
    <ion-col>
      <ion-button>EQUALITY</ion-button>
    </ion-col>
  </ion-row>
 <!--first post row-->
  <ion-row>
    <ion-col>
      <ion-card>
        
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      
    </ion-col>

    <ion-col>
      
    </ion-col>
  </ion-row>
  <!--second post row-->
  <ion-row>
    <ion-col>

    </ion-col>

    <ion-col>
      
    </ion-col>

    <ion-col>
      
    </ion-col>
  </ion-row>

  <!--third post row-->
  <ion-row>
    <ion-col>

    </ion-col>

    <ion-col>
      
    </ion-col>

    <ion-col>
      
    </ion-col>
  </ion-row>
</ion-grid>