<ion-grid class="mx-10 ion-no-padding">
  <ion-row class="titlerow">
    <ion-col>
      <ion-title class="ion-text-center posttitle">Ideas & Posts</ion-title>
    </ion-col>
  </ion-row>
  <!--Buttons of UN world goals-->
  <ion-row style="text-align:center" class="ion-justify-content-center ion-align-items-center flex flex-auto mx-4">

    <ion-col size="12" size-md="3">
      <ion-button class="lifeonland w-40 xl:w-52 lg:w-48 text-xs lg:text-sm">WATER & SANITATION</ion-button>
    </ion-col>

    <ion-col size="12" size-md="3">
      <ion-button class="lifeinwater w-40 xl:w-52 lg:w-48 text-xs lg:text-sm">LIFE IN WATER</ion-button>
    </ion-col>

    <ion-col size="12" size-md="3">
      <ion-button class="jobandmoney w-40 xl:w-52 lg:w-48 text-xs lg:text-sm">ECONOMICAL GROWTH</ion-button>
    </ion-col>

    <ion-col size="12" size-md="3">
      <ion-button class="equality w-40 lg:w-48 xl:w-52  text-xs lg:text-sm">EQUALITY</ion-button>
    </ion-col>
  </ion-row>
  <!--first post row-->

  <ion-row class="flex flex-auto mx-24 ion-no-padding">
    <ion-col class="ion-no-padding" *ngFor="let post of readData" size="12" size-lg="3">
      <ion-card class="m-1 md:m-3 lg:m-4 shadow-2xl ion-no-padding ">
        <ion-card-header class="ion-no-padding">
          <ion-grid class="ion-no-padding">
            <ion-row>
              
              <ion-col class=" ion-no-padding px-2" size="10">
                <ion-card-title class="py-2"><span class="text-base lg:text-base">{{post.title}}</span>

                  <ion-card-subtitle class="py-1"><span>John Doe - </span> <span> 03/03 13:48</span></ion-card-subtitle>

                </ion-card-title>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />


        <ion-accordion-group class="ion-no-padding">
        <ion-accordion class="ion-no-padding">
          
          <ion-item class="ion-no-padding px-2 " slot="header">
            <ion-label>Description</ion-label>
          </ion-item>

          <ion-list slot="content">
            <ion-item> 
              {{post.description}}
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>

      <ion-chip class="ion-no-padding px-2" [disabled]="true">{{post.category}}</ion-chip>
      <!-- 
      <div class="number-display">
        <button class="font-semibold text-black" (click)="increment()"> Like </button>
        <ion-icon class="pl-1" color="danger" name="heart"></ion-icon>
        {{counter}}
      </div> -->


    </ion-card>
      
    </ion-col>
  </ion-row>
</ion-grid>