<ion-content>

  <ion-grid class="ion-no-padding">
    <!--profile image. profile info and badges-->
    <ion-row>
      <ion-col>
        <img class="profileimg" src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="Hans" srcset="">
        <br>
        <ion-button>Edit Profile</ion-button>
      </ion-col>

      <ion-col>
        <h1>Your Profile</h1>
        <br>
        <ion-card-subtitle>Full Name</ion-card-subtitle>
        <p>Hans Hansen</p>
        <br>
        <ion-card-subtitle>Email Adress</ion-card-subtitle>
        <p>johndoe@email.com</p>
        <br>
        <ion-card-subtitle>Date of birth</ion-card-subtitle>
        <p>4. January 1996</p>
        <br>
        <ion-card-subtitle>Organization</ion-card-subtitle>
        <p>Pumpehuset</p>
      </ion-col>

      <ion-col class="">
        <h1>Badges</h1>
        <br>
        <div class="flex">
          <img class="badgeimg" src="https://images.unsplash.com/photo-1549849171-09f62448709e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" srcset="">
        <div class="flex flex-col items-center">
          <p>Post apprentice</p>
          <ion-card-subtitle>14/22</ion-card-subtitle>
          <ion-progress-bar class="pbar" value=".5" ></ion-progress-bar>
        </div>
        <img class="badgeimg" src="https://images.unsplash.com/photo-1549849171-09f62448709e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" srcset="">
        </div>
      </ion-col>

    </ion-row>
    
  </ion-grid>

</ion-content>