<section class="flex h-screen bg-[url('./assets/img/heroheader.webp')]">
  <div class="grid max-w-screen-2xl py-8 lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 m-auto">
      <div class="lg:col-span-8">
          <h1 class=" mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-4xl xl:text-7xl dark:text-white">Share your experience with the world!</h1>
          <p class=" font-light text-white lg:mb-8 md:text-lg lg:text-xl dark:text-white max-w-xl">To achieve the 17 Sustainable Development Goals we must work together and help each other!</p>
      </div>
      <div class="lg:mt-0 lg:col-span-4 lg:flex text-center text-white text-opacity-100">
        <div class="px-10 max-h-40 rounded bg-gs-primary-trans mt-4">
          <div class="px-6 py-4">
            <div class="font-bold mb-2 text-7xl" id="numbercounter"></div>
            <h1 class="text-2xl text-white font-bold">
              Ideas submitted
            </h1>
            <p class="font-bold">
              And counting!
            </p>
          </div>
        </div>

      </div>                
  </div>
</section>