@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

#numbercounter {
  animation: counter 2s forwards alternate ease-in-out;
  counter-reset: num var(--num);
}
#numbercounter::after {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 9999;
  }
  to {
    --num: 10794;
  }
}